<!DOCTYPE html>
<html>
  <head>
    <title>Loan Application</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'BoA-Favicon.jpg' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn01.boxcdn.net/platform/elements/3.5.2/en-US/uploader.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
